<h1><%= @user.name %></h1>

<%if current_user %>

	<% if @user == current_user %>
		<%= render template: 'tweets/new', locals: { tweet: @tweet } %>
	<% end %>

	<% if @user != current_user and !current_user.following? @user %>
		<%= link_to "Follow", follow_user_path(id: @user.id) %>
	<% else %>
		<p>Following</p>
	<% end %> 

	<h3>Tweets</h3>
	<ul>
	<% @user.tweets.each do |tweet| %>
		<% if !tweet.private? || (tweet.private? and current_user.following? @user) %>
			<li>
				<%= tweet.body %>
				<% if @user != current_user %>
					<% if current_user.tweets.include? tweet %>
						"Shared"
					<% else %>
						<%= link_to 'Retweet', retweet_path(tweet) %>
					<% end %>
				<% end %>
			</li>
		<% end %>
	<% end %>
	</ul>
<% else %>
	<h3>Tweets</h3>
	<ul>
		<% @user.tweets.each do |tweet| %>
			<% if !tweet.private? %>
				<li><%= tweet.body %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>


